@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap'); /*fonte baixda do google*/
@font-face{
    font-family: 'FonteLogo'; /* nome da fonte externa*/
    src: url(../_fonts/bubblegum-sans-regular.otf); /* local da fonte externa*/
}

body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
    text-align: justify;

}

p{
    text-align: justify;
    text-indent: 51px;
}

a{

    color: #606060;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header#cabecalho img#icone{ /*posicionamento imagem com id icone*/

    position: absolute; /*posições */
    left: 910px;
    top: 75px;
}

header#cabecalho {
border-bottom: 1px #606060 solid; /*linha de separação do cabaçalho*/
height: 150px;/*altura da linha*/
background: url("../_imagens/glass-logo-peq.jpg")no-repeat 0px 80px; /*colocar img pelo css*/
}

header#cabecalho h1{

    font-family: FonteLogo, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{

    font-family: 'Titillium Web', sans-serif; /*fonte baixada do google*/
    font-size: 10pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}


div#interface{ /*pagina dentro do DIv*/
    width: 850px; /*largura da pagina*/
    background-color: white; /*cor de fundo pagina*/
    margin: -20px auto 0px auto; /*margens externa da pagina*/
    box-shadow: 0px 0px 10px rgba(0,0,0,.5); /*sombra trnparente*/
    padding: 10px; /* borda interna todos os lados */

}

/*formatacao de imagens com legendas */

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;

}
figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 10;
    position: absolute;
    top:0px;
    background-color: rgba(0,0,0,.5);
    color: white;
    width: 100%;
    height: 100%;   
    padding:10px;
    box-sizing: border-box;
    transition: opacity 2s;
}

figure.foto-legenda:hover figcaption{
    opacity: 0;
}

/*formatacao Menu*/

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 400px;
}
nav#menu li {

    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover{
background-color: #606060;
}
nav#menu h1{
    display: none;
}

nav#menu a{

    color: #000000;
    text-decoration: none;
    
}

nav#menu a:hover{  
color: white;
text-decoration: underline;

}

section#corpo{

    display: block; /*exibir pagina em bloco*/
    width: 480px;/*largura da pagina*/
    float: left; /*posicionar esquerda*/
    border-right: 1px solid #606060; /*criar linha vertical*/
    padding-right: 20px; /* separar linha do texto*/

}

article#noticia-principal h2{
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0pt;
    margin-top: 0pt;
}
/* foi criado uma classe direita para um h1 fosse alinha a direita  */
.direita{
    text-align: right;
}

header#cabecalho-artigo h2{
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0pt;
}

header#cabecalho-artigo h3{
    
    font-size: 12pt;
    color: #606060;
}

table#tabelaspec{

    border: 1px solid #606060;/*cores da linha eterna da tabela*/
    border-spacing: 0px;/*epaço interno da tabela*/
     margin-left: auto;/*centraliza tabela*/
     margin-right: auto;
     box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
}

table#tabelaspec td{

    border: 1px solid #606060;
    padding: 10px;/*aumentar espaço interno da tabela*/
    text-align: center; /* alinhamento horizontal do texto da tabela  */
    vertical-align: middle; /* alinhamento vertical texto da tabela  */
}

/* formatação colunas da esquerda  */
/* as duas devem ser ara o td  */
table#tabelaspec td.ce{

color: #ffffff;
background-color: #606060;
vertical-align: top;
font-weight: bolder;
}

/* formatação coluna da direita  */
table#tabelaspec td.cd{

    background-color: #cecece;
}

table#tabelaspec caption{

    color: #888888;
    font-size: 16px;
    font-weight: bolder;
}
/* span para criar uma formatação especifica tentro de um texto na tabela */
table#tabelaspec caption span{
    display: block;
    /* float e para flutuar  */
    float: right; 
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;


}
table#tabelaspec tr{

    border: 1px solid #606060;
    
}

aside#lateral{/*pagina a direita*/

    display: block;
    width: 310px;
    float: right;/*posicionar direita*/
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1{
    font-family: 'FonteLogo',sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0pt;
    
}

aside#lateral h2{
    background-color:#606060 ;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
    

}

footer#rodape{

    clear: both; /*Rodape, limpa as configuração do dois acima e erruma a pagina*/
    border-top: 1px solid #606060; /*linha a cima*/
    
}

footer#rodape p{
    text-align: center;
}
